@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --percentage: 0.4;
    --width: 1920px;
    --main-width: 1200px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
    min-height: 100vh;
}


form {
    padding: 20px;
}

input,
select {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: calc(100%);
    padding: 10px;
    margin: 10px 0px;
    border: 0px;
    font-size: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-file-upload {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    cursor: pointer;
}

a.button {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #142d4c;
    background-color: #9fd3c7;
    display: block;
    font-weight: bold;
    width: calc(100% - 60px);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px 20px;
}

input[type="file"] {
    display: none;
}

#results {
    display: inline-block;
    background-color: red;
}


#header {
    color: white;
    font-size: 13em;
    height: 260px;
    background-color: black;
    width: 1920px;
    position: relative;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cover {
    height: 1080px;
    width: 1920px;
}

#thumbnail {
    width: 1920px;
    height: 1080px;
}

#footer {
    padding: 20px;
    color: white;
    font-size: 6.7em;
    height: calc(580px - 40px);
    width: calc(1920px - 40px);
    text-align: center;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.time {
    white-space: nowrap;
    padding: 0px 50px;
    margin: 0 50px;
}